body{
    font-family: sans-serif;
    background-color: hsla(0, 0%, 50%, 0.81);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherform{
    margin: 10px;
}
.weathercity{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}
button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: hsl(33, 100%, 50%);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
button[type="submit"]:hover{
    background-color: hsl(33, 100%, 40%);
}
.card{
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    padding: 50px;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 0;
    margin-bottom: 25px;
}
p{
    margin: 5px 0;
    font-size: 1.5rem;
}
.cityDisplay, .tempdisplay{
    font-size: 3.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.814);
    margin-bottom: 25px;
}
.humiditydisplay{
    font-weight: bold;
    margin-bottom: 25px;
}
.descdisplay{
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
}
.weatherEmoji{
    margin: 0;
    font-size: 7rem;
}
.errordisplay{
    font-weight: bold;
    font-size: 2rem;
    color: hsla(0, 0%, 0%, 0.814);
}